<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">   
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <h2>The Red Planet</h2>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the Surface of Mars' Latest Data...</a></p>
    </div>
  </div>
  <div class="row">
    <div class=col-lg-12></div></div>
    <div class="row">
      <div class=col-lg-12></div></div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 lg-secondary">
      <h1 class="display-4">Latest Mars News</h1>
    <h3>{{mission.news_title}}</h3>
    <p>{{mission.news_p}}</p>
  </div>
  <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class=col-lg-12></div></div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-6 lg-secondary">
    <h1 class="display-4">Featured Mars Image</h1>
    <img width= "900px" src="{{ mission.featured_image_url }}" alt="Featured Mars Image">
</div>
<div class="col-lg-1"></div>
<div class="col-lg-3 lg-secondary">
  <h1 class="display-4">Mars Facts</h1>
  <p>(for a scraped Mars Facts Table, see below...)</p>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped w-auto">
                <thead>
                  <tr style="text-align: center;">
                 </tr>   
                 <tr>     
                <th>Planet Profile:</th>     
                <th>Mars (The Red Planet)</th>     
               </tr>  
              </thead>  
              <tbody>  
               <tr>      
              <th>Equatorial Diameter:</th>   
             <td>6,792 km</td>   
            </tr>    <tr> 
                <th>Polar Diameter:</th>    
                 <td>6,752 km</td>   
                 </tr>    <tr>    
                <th>Mass:</th>             
               <td>6.39 × 10^23 kg (0.11 Earths)</td>  
               </tr>    <tr>   
                <th>Moons:</th>   
               <td>2 (Phobos &amp; Deimos)</td>  
                </tr>    <tr>     
              <th>Orbit Distance:</th>   
               <td>227,943,824 km (1.38 AU)</td>  
              </tr>    <tr>    
             <th>Orbit Period:</th>  
            <td>687 days (1.9 years)</td>  
           </tr>    <tr>   
           <th>Surface Temperature:</th>    
              <td>-87 to -5 °C</td>   
                 </tr>    <tr>   
              <th>First Record:</th>   
              <td>2nd millennium BC</td>  
                 </tr>    <tr>    
               <th>Recorded By:</th>   
               <td>Egyptian astronomers</td>  
               </tr>  
             </tbody>
             </table>
</div>
    </div>
  </div>
</div>
<div class="col-lg-1"></div>
</div>

<div class="row">
  <div class=col-lg-12></div></div>

<div class="row">
  <div class="col-lg-2"></div>
<div class="col-lg-8 lg-secondary">
  <hr>
  <h1 class="display-3">Mars Hemispheres</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class= "card-img-top" width= "335x" src={{mission.img1_url}} alt="Cerberus Hemisphere Enhanced">
        <div class="card-body" href={{mission.img1_url}}>{{mission.img1_title}}</div> 
</div>
    </div>
<div class="col-md-6">
  <div class="card">
        <img class = "card-img-top" width= "335px" src={{mission.img2_url}} alt="Schiaparelli Hemisphere Enhanced">
        <div class="card-body" href="{{mission.img2_url}}">{{mission.img2_title}}</div> 
      </div>
        </div>
  </div>
  <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class = "card-img-top" width= "335px" src={{mission.img3_url}} alt="Syrtis Major Hemisphere Enhanced">
          <div class="card-body" href={{mission.img3_url}}>{{mission.img3_title}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class = "card-img-top" width= "335px" src={{mission.img4_url}} alt="Valles Marineris Hemisphere Enhanced">
          <div class="card-body" href="{{mission.img4_url}}">{{mission.img4_title}}</div>  
        </div>
      </div>
      </div>
</div>
<div class="col-lg-2"></div>
</div>

<div class="row">
  <div class=col-lg-12></div></div>

<div class="row">
  <div class="col-lg-4"></div>
<div class="col-lg-4 lg-secondary">
  <hr>
  <h1 class="display-3">Scraped Mars Facts</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table">
        {{mission.html_table|safe}}
    </div>
    </div>
    </div>
    <div class="col-lg-4"></div>
</div>


</body>

</html>
